@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

:root {
  --karla: "Karla", sans-serif;

  --dark-cyan: hsl(179, 62%, 43%);
  --light-cyan: hsl(178, 48%, 52%);
  --yellow: hsl(71, 73%, 54%);
  --light-gray: hsl(204, 43%, 93%);
  --gray-blue: hsl(218, 22%, 67%);

  --text-16: 1.6rem;

  font-size: 62.5%;
}

:root,
* {
  box-sizing: border-box;
  font-family: var(--karla);
}

body {
  margin: 0;
  padding: 0;
  display: grid;
  place-items: center;
  width: 100%;
  height: 100vh;
  padding-top: 7.2rem;
  background: var(--light-gray);
}

@media screen and (min-width: 980px) {
  body {
    padding: 0;
  }
}

/* INFO-CARD & SHARED */

.info-card {
  width: 83%;
  max-width: 35rem;
  display: grid;
  grid:
    "community" max-content
    "subscription" max-content
    "why-us" max-content / 1fr;
  background: white;
  border-radius: 0.5rem;
  overflow: hidden;
}

@media screen and (min-width: 680px) {
  .info-card {
    max-width: 63.5rem;
    grid:
      "community community" max-content
      "subscription why-us" max-content/ 1fr 1fr;
  }
}

.info-card-section {
  /* All 3 sections have below code */
  display: flex;
  flex-flow: column nowrap;
  gap: 1.6rem;
  padding: 2.4rem 2.8rem;
}

@media screen and (min-width: 680px) {
  .info-card-section {
    padding: 4rem;
    justify-content: space-between;
  }
}

.sub-heading {
  font-weight: 700;
  font-size: 1.8rem;
  letter-spacing: -0.022rem;
  color: white;
}

/* END - INFO-CARD & SHARED */

/* COMMUNITY */
.info-card__community {
  grid-area: community;
  background: white;
}

.community-heading {
  font-size: clamp(2rem, 1.5082rem + 1.3115vw, 2.4rem);
  letter-spacing: -0.03rem;
  font-weight: 700;
  color: var(--dark-cyan);
  margin-bottom: 0.8rem;
}

.community-promise {
  font-size: clamp(1.5rem, 1.1311rem + 0.9836vw, 1.8rem);
  line-height: 2rem;
  letter-spacing: -0.019rem;
  font-weight: 700;
  color: var(--yellow);
}

.community-info {
  font-size: clamp(1.4rem, 1.1541rem + 0.6557vw, 1.6rem);
  color: var(--gray-blue);
  line-height: 2.6rem;
  letter-spacing: -0.017rem;
}
/* END - COMMUNITY */

/* SUBSCRIPTION */
.info-card__subscription {
  grid-area: subscription;
  background: var(--dark-cyan);
}

.subscription-heading {
  margin-bottom: 0.2rem;
}

.subscription-price-container {
  display: flex;
  gap: 1.1rem;
  align-items: center;
  margin-bottom: -1.2rem;
}

.subscription-price-container .price {
  font-size: 3.2rem;
  font-weight: 700;
  color: white;
  letter-spacing: -0.04rem;
}

.subscription-price-container .contract-duration {
  opacity: 0.5;
  font-size: 1.6rem;
  line-height: 2.6rem;
  letter-spacing: -0.02rem;
  color: white;
}

.subscription-info {
  font-size: 1.6rem;
  letter-spacing: -0.02rem;
  line-height: 2.6rem;
  color: white;
}

.subscription-button {
  font-size: 1.6rem;
  letter-spacing: -0.02rem;
  color: white;
  background: var(--yellow);
  padding: 1.5rem 0;
  border-radius: 0.5rem;
  text-align: center;
  transition: background 250ms ease;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.0973011);
}

.subscription-button:hover {
  background-color: hsl(56, 85%, 54%, 0.5);
}

/* END - SUBSCRIPTION */

/* WHY-US */
.info-card__why-us {
  grid-area: why-us;
  background: var(--light-cyan);
}

.why-us-heading {
  margin-bottom: 0.2rem;
}

.why-us-info li {
  font-size: 1.4rem;
  color: white;
  opacity: 0.75;
  line-height: 2rem;
  letter-spacing: -0.017rem;
}

/* END - WHY-US */
